<div class="container new-edit-form">
  <h3 class="mb-4 text-center" style="letter-spacing: 2px;font-weight: 900;">編輯餐廳</h3>
  <form action="/restaurants/{{ restaurant._id }}?_method=PUT" method="POST">
    {{#each properties}}
    {{#unless (or (eq @key '_id') (eq @key '__v'))}}
    <div class="form-group row align-items-center">
      <label for="{{ @key }}" class="col-sm-4 col-form-label" style="font-size: 20px;font-weight: 700;">
        {{getByKey ../formAttributes.chinese @key}}

        {{#if this.isRequired}}
        <span style="color: red">*</span>
        {{/if}}

      </label>
      <div class="col-sm-8">
        {{#if (eq @key "description")}}
        <textarea class="form-control" id="{{ @key }}" name="{{ @key }}"
          {{#each (getByKey ../formAttributes.input @key)}} {{#unless (eq @key 'value')}} {{ @key }}="{{ this }}"
          {{/unless}} {{else}}type="text" {{/each}}>{{ getByKey ../restaurant @key }}</textarea>

        {{else}}
        {{#if (eq @key "category")}}
        <input type="text" class="form-control" id="category-name" name="category-name"
          value="{{ ../restaurant.category.name }}" autocomplete="off" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false" placeholder="搜尋現有類別 / 新增新類別" {{#each (getByKey ../formAttributes.input @key)}}
          {{ @key }}="{{ this }}" {{/each}} required />
        <input type="hidden" id="category-id" name="category" value="{{ ../restaurant.category._id }}" required />
        <div class="dropdown-menu" id="category-dropdown">
          {{#each ../categories}}
          <a class="dropdown-item" href="#" data-id="{{ this._id }}">{{ this.name }}</a>
          {{/each}}
        </div>

        {{else}}
        <input class="form-control" id="{{ @key }}" name="{{ @key }}" value="{{getByKey ../restaurant @key}}"
          {{#each (getByKey ../formAttributes.input @key)}} {{#unless (eq @key 'value')}} {{ @key }}="{{ this }}"
          {{/unless}} {{else}}type="text" {{/each}} {{#if this.isRequired}}required{{/if}}>
        {{/if}}
        {{/if}}

      </div>
    </div>
    {{/unless}}
    {{/each}}

    <div class="row justify-content-end">
      <button type="submit" class="btn btn-warning"
        style="font-size: 20px; font-weight: 700; margin-right: 15px;">儲存</button>
    </div>
  </form>
</div>