<div class="container new-edit-form">
  <h3 class="mb-4 text-center" style="letter-spacing: 2px;font-weight: 900;">新增餐廳</h3>
  <form action="/restaurants/new" method="POST">
    {{#each properties}}
    {{#unless (or (eq @key '_id') (eq @key '__v'))}}
    <div class="form-group row align-items-center">
      <label for="{{ @key }}" class="col-sm-4 col-form-label" style="font-size: 20px;font-weight: 700;">
        {{getByKey ../formAttributes.chinese @key}}

        {{#if this.isRequired}}
        <span style="color: red">*</span>
        {{/if}}

      </label>
      <div class="col-sm-8">
        {{#if (eq @key "description")}}
        <textarea class="form-control" id="{{ @key }}" name={{ @key }} {{#each (getByKey ../formAttributes.input @key)}}
          {{ @key }}={{ this }} {{else}} type="text" {{/each}}></textarea>

        {{else}}
        <input class="form-control" id="{{ @key }}" name={{ @key }} {{#each (getByKey ../formAttributes.input @key)}}
          {{ @key }}={{ this }} {{else}} type="text" {{/each}} {{#if this.isRequired}}required{{/if}}>
        {{/if}}

      </div>
    </div>
    {{/unless}}
    {{/each}}

    <div class="row justify-content-end">
      <button type="submit" class="btn btn-warning"
        style="font-size: 20px; font-weight: 700; margin-right: 15px;">新增</button>
    </div>
  </form>
</div>